body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0a0a0a;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.botao {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.botao:hover {
  background: #eaeaea;
  color: #333
}

#fundo {
  min-height: 450px;
  text-align: center;
}

#fundo .imagem{
  background: url("img/fundo.jpg");
  width: 100%;
  height: 450px;
  position: absolute;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.4;
}

#fundo h1 {
  padding-top: 100px;
  padding-bottom:  0;
  
}
